//break-point 
$desktop: 1280px;
$mobile: 375px;

//font-size
$font-display: 3rem;
$font-h1: 2.5rem;
$font-h2: 2rem;
$font-title: 1.5rem;
$font-BL: 1.2rem;
$font-BM: 1rem;
$font-caption: 0.8rem;

//color
$black: #000;
$white: #fff;
$brand-yellow: #FEE500;
$brand-hover: #FEB600;
$gray-200: #F2F2F2;
$gray-500: #777777;
$gray-700: #555555;
$gray-900: #111111;
$card-blue: #d2ebff;
$card-mint: #c5fae6;
$card-yellow: #ffebc0;
$card-pink: #ffd9d2;
$card-puple: #e0ceff;

//radius
$radius-ss: 8px;
$radius-md: 16px;
$radius-xl: 32px;
$radius-lg: 24px;
